@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
body {
  margin: 0;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1.5em;
  background: linear-gradient(
    #fff 0%,
    #ddd 10%,
    #ccc 20%,
    #aaa 30%,
    #999 40%,
    #888 50%,
    #666 60%,
    #444 70%,
    #222 80%,
    #000 90%
  );
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}